/* PLU Color codes: #ffcc00 #cc9933 black white dark grey light grey*/

body{
    background-color: #d3d3d3
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #cc9933;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ffcc00;
    color: #a9a9a9;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ffcc00;
    color: #000;
  }